In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 

df = pd.read_csv("MarketSales.csv")

/var/folders/hz/hhcwj2sd1pq_fr0ynsft46400000gn/T/ipykernel_4948/714094261.py:6: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("MarketSales.csv")

In [2]:
df.isnull().sum()

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

In [3]:
df.drop('CATEGORY_NAME3', axis=1, inplace=True)

In [4]:
df.dropna(inplace=True)

In [5]:
df.isnull().sum()

ID                0
ITEMCODE          0
ITEMNAME          0
FICHENO           0
DATE_             0
AMOUNT            0
PRICE             0
LINENETTOTAL      0
LINENET           0
BRANCHNR          0
BRANCH            0
SALESMAN          0
CITY              0
REGION            0
LATITUDE          0
LONGITUDE         0
CLIENTCODE        0
CLIENTNAME        0
BRANDCODE         0
BRAND             0
CATEGORY_NAME1    0
CATEGORY_NAME2    0
STARTDATE         0
ENDDATE           0
GENDER            0
dtype: int64